@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../fonts/Lausanne-500.woff2);
}

body{
    overflow-x: hidden;
}

.moveX{
    animation-name: moveAnimation;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}